<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="diary_posts">
  <% @diary_posts.each do |diary_post| %>
    <%= render diary_post %>
    <p>
      <%= link_to "Show this post", diary_post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_diary_post_path %>
